<title>gene_hsa</title>

{% extends 'ghdn/index.html' %}

{% block content %}
     <style>
        .client-content{
            width:95%;
            height:1000px;
            background-color: white;
            margin:auto;
            margin-top:20px;
            margin-bottom:20px;
            border: 1px solid #FFFFFF;
        }

    table{border-collapse: collapse;width:1000px;}
    table tr{
        border: none;
    }
    table tr td{
        border: none;
    }
    .label{

        display: block;
        color:black;
        text-align: right;

    }
    table tr td.value{
        text-align: left;


    }
     .layui-table td, .layui-table th{
         line-height: 40px;
     }

    </style>
    <div class="layui-row layui-col-space10 client-content">

        <blockquote class="layui-elem-quote">gene_hsa</blockquote>
        <div class="layui-col-md12" >
            <form method="post" id="MyForm" class="layui-form">
                <table class="layui-table"   lay-skin="nob">
                    <colgroup>
                    <col width="200">
                    <col >

                  </colgroup>
                    <tr>
                        <td class="label">gene</td>
                        <td class="value">
                            <select name="gene">
                                {% for row in result.gene %}
                                <option value="{{row}}">{{ row }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">hsa</td>
                        <td class="value">
                             <select name="hsa">
                                {% for row in result.hsa %}
                                <option value="{{ row }}">{{ row }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button class="layui-btn" lay-submit="" lay-filter="btnSubmit">提交</button>
                            <a class="layui-btn" href="{{ url_for('gene.index') }}">取消</a>
                        </td>
                   </tr>
                </table>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            var form = layui.form;
            var layer=layui.layer;
            form.render('select'); //刷新select选择框渲染
            //监听提交
            form.on('submit(btnSubmit)', function(data){
                $.post("gene_hsa_form_submit",data.field,function(data){
                    console.info(data)
                })
                layer.alert('添加成功');
                return false;
            });


        })

    </script>
{% endblock %}