<title>Gene</title>

{% extends 'ghdn/index.html' %}

{% block content %}
    <style>
        .client-content{
            width:95%;
            height:1000px;
            background-color: white;
            margin:auto;
            margin-top:20px;
            margin-bottom:20px;
            border: 1px solid #FFFFFF;
        }

    </style>
    <div class="layui-row layui-col-space10 client-content">

        <blockquote class="layui-elem-quote">drug list</blockquote>
        <div class="layui-col-md12" >
             <p>Colorectal cancer (CRC), also known as bowel cancer and colon cancer, is the development of cancer from the colon or rectum (parts of the large intestine).[6] A cancer is the abnormal growth of cells that have the ability to invade or spread to other parts of the body.[10] Signs and symptoms may include blood in the stool, a change in bowel movements, weight loss, and feeling tired all the time.[1]
             </p>
            <p>
            Most colorectal cancers are due to old age and lifestyle factors with only a small number of cases due to underlying genetic disorders.[2][3] Some risk factors include diet, obesity, smoking, and lack of physical activity.[2][3] Dietary factors that increase the risk include red and processed meat as well as alcohol.[2][4] Another risk factor is inflammatory bowel disease, which includes Crohn's disease and ulcerative colitis.[2] Some of the inherited genetic disorders that can cause colorectal cancer include familial adenomatous polyposis and hereditary non-polyposis colon cancer; however, these represent less than 5% of cases.[2][3] It typically starts as a benign tumor, often in the form of a polyp, which over time becomes cancerous.[2]
            </p>
            Bowel cancer may be diagnosed by obtaining a sample of the colon during a sigmoidoscopy or colonoscopy.[1] This is then followed by medical imaging to determine if the disease has spread.[6] Screening is effective for preventing and decreasing deaths from colorectal cancer.[5] Screening, by one of a number of methods, is recommended starting from the age of 50 to 75.[5] During colonoscopy, small polyps may be removed if found.[2] If a large polyp or tumor is found, a biopsy may be performed to check if it is cancerous. Aspirin and other non-steroidal anti-inflammatory drugs decrease the risk.[2][11] Their general use is not recommended for this purpose, however, due to side effects.[12]
            <p>
            Treatments used for colorectal cancer may include some combination of surgery, radiation therapy, chemotherapy and targeted therapy.[6] Cancers that are confined within the wall of the colon may be curable with surgery while cancer that has spread widely are usually not curable, with management being directed towards improving quality of life and symptoms.[6] The five-year survival rate in the United States is around 65%.[7] The individual likelihood of survival depends on how advanced the cancer is, whether or not all the cancer can be removed with surgery, and the person's overall health.[1] Globally, colorectal cancer is the third most common type of cancer, making up about 10% of all cases.[13] In 2012, there were 1.4 million new cases and 694,000 deaths from the disease.[13] It is more common in developed countries, where more than 65% of cases are found.[2] It is less common in women than men.[2]
            </p>
        </div>


    </div>



{% endblock %}